ipykernel==6.28.0
ipywidgets==7.8.1
kagglehub==0.3.12
keras==3.10.0
keras-tuner==1.4.7
matplotlib==3.9.2
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
seaborn==0.13.2
spacy==3.8.6
tensorflow==2.19.0
tqdm==4.66.5
wordcloud==1.9.4
en_core_web_sm==3.8.0